h1 Create New User
a(href="/users") Back
form(action="/users/create", method="post")
    label(for="name") Name
    input(type="text", name="name")
    br
    label(for="phone") Phone
    input(type="text", name="Phone")
    br
    button Create